
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link type="text/css" rel="stylesheet" href="~/Content/Pivot.css" />
<h1>Support & Resistance Levels</h1>

@{
    var list = new[] {
        new { Value = "1800", Text = "30 MIN" },
        new { Value = "3600", Text = "Hourly" },
        new { Value = "18000", Text = "5 Hours" },
        new { Value = "86400", Text = "Daily"},
        new { Value = "week", Text = "Weekly"}
    };
    var listItems = new SelectList(list, "Value", "Text", @ViewBag.selval);
}

@Html.DropDownList("period", listItems, "Select Value", new { id = "period", @class = "form-control", onchange = "SelectedIndexChanged()"})

<div>
    @{
        for(int i = 0; i< ViewBag.data.Count; i++)
        {
            <div class="pivot-cell">
                <div class="cell-flag">
                    <div class="flag-img @ViewBag.data[i].name"></div>
                    <div class="flag-text">@ViewBag.data[i].name</div>
                </div>
                <div class="cell-sr">
                    <div class="cell-head">
                        <b>S3</b>
                    </div>
                    <div class="cell-value">
                        @ViewBag.data[i].S3
                    </div>
                </div>
                <div class="cell-sr">
                    <div class="cell-head">
                        <b>S2</b>
                    </div>
                    <div class="cell-value">
                        @ViewBag.data[i].S2
                    </div>
                </div>
                <div class="cell-sr">
                    <div class="cell-head">
                        <b>S1</b>
                    </div>
                    <div class="cell-value">
                        @ViewBag.data[i].S1
                    </div>
                </div>
                <div class="cell-pivot">
                    <div class="cell-head">
                        <b>Pivot Points</b>
                    </div>
                    <div class="cell-value">
                        @ViewBag.data[i].pivotPoints
                    </div>
                </div>
                <div class="cell-sr">
                    <div class="cell-head">
                        <b>R1</b>
                    </div>
                    <div class="cell-value">
                        @ViewBag.data[i].R1
                    </div>
                </div>
                <div class="cell-sr">
                    <div class="cell-head">
                        <b>R2</b>
                    </div>
                    <div class="cell-value">
                        @ViewBag.data[i].R2
                    </div>
                </div>
                <div class="cell-sr">
                    <div class="cell-head">
                        <b>R3</b>
                    </div>
                    <div class="cell-value" style="border-right : none">
                        @ViewBag.data[i].R3
                    </div>
                </div>
            </div>
        }
    }
</div>
<script type="text/javascript">

    function SelectedIndexChanged() {

        console.log($("#period").val());
        var val = $("#period").val();
        window.location.href = '/Pivot/Index/' + val; 

}
</script>  

